.bg-hero{
    background-image: url(/images/Group\ 3.png);
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

